<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
    <include th:replace="views/backend/components/metas :: metas"></include>
    <include th:replace="views/backend/components/styles :: styles"></include>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css}">
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js}"></script>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- navbar -->
    <include th:replace="views/backend/components/navbar :: navbar"></include>
    <!-- sidebar -->
    <include th:replace="views/backend/market/components/sidebar :: sidebar"></include>

    <!-- content wrapper -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <a href="" data-toggle="modal" data-target="#add" class="btn bg-gradient-primary"> <i class="fas fa-plus-square"></i> Create</a>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Market</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content Header (Page header) -->


        <!-- Main content -->
        <section class="content">
            <!--contain table-->
            <div class="section-body mt-3">
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="card card-primary card-outline">
                                <div class="card-body">

                                    <div class="box box-primary">
                                        <div class="box-body">

                                            <table class="table table-bordered table-hover text-center" width="100%">
                                                <thead>
                                                <tr>
                                                    <td>ID</td>
                                                    <td>Market Name</td>
                                                    <td>Market About</td>
                                                    <td>City</td>
                                                    <td>Province</td>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <div th:if="${not #lists.isEmpty(markets)}">
                                                    <tr th:each="row:${markets}" th:field="${row}">
                                                        <td th:text="${row.id}"></td>
                                                        <td th:text="${row.marketName}"></td>
                                                        <td th:text="${row.marketAbout}"></td>
                                                        <td th:text="${row.city}"></td>
                                                        <td th:text="${row.province}"></td>
                                                        <td>
                                                            <div class="btn-group btn-group-sm">
                                                                <a th:href="@{/markets/findById/(id=${row.id})}"
                                                                   data-toggle="modal" data-target="#editButton"
                                                                   class="btn btn-outline-success btn-xs"><i class="fa fa-pencil-alt"></i>
                                                                </a>

                                                                <a th:href="@{'/delete-markets/' + ${row.id}}"
                                                                   data-toggle="modal" data-target="#deleteModal"
                                                                   id="deleteButton"
                                                                   style="margin-left: 5px"
                                                                   class="btn btn btn-outline-danger btn-xs"><i class="fas fa-trash"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </div>
                                                <div th:if="${#lists.isEmpty(markets)}">
                                                    <tr>
                                                        <td>No Market exists!</td>
                                                    </tr>
                                                </div>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end contain table-->


            <!-- delete modal -->
            <div id="deleteModal" class="modal fade delete-modal animated rubberBand" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img src="/vendors/assets/img/sent.png" alt="" width="50" height="46">
                            <h3>Are you sure want to delete this Records?</h3>
                            <div class="m-t-20">
                                <a type="#" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</a>
                                <a type="submit" class="btn btn-outline-danger btn-rounded" id="delRef"><i class="fa fa-trash"></i>Delete</a>
                                <input type="hidden" name="id">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end pop up delete-->



            <!--add modal-->
            <div class="modal fade" id="add" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-md">
                    <form th:action="@{/create-market}" method="post">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Add Market</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="marketNameAdd" class="col-form-label">Market Name:</label>
                                    <input type="text" class="form-control form-rounded" id="marketNameAdd" name="marketName" required autofocus="autofocus">
                                </div>

                                <div class="form-group">
                                    <label for="marketAboutAdd" class="col-form-label">Market About:</label>
                                    <textarea class="form-control" id="marketAboutAdd" name="marketAbout" required autofocus="autofocus"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="cityAdd" class="col-form-label">City:</label>
                                    <select class="form-control form-rounded" id="cityAdd" name="city" required autofocus="autofocus">
                                        <option>-SELECT-</option>
                                        <option th:each="row:${city}"
                                                th:text="${row.cityName}">
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="provinceAdd" class="col-form-label">Province:</label>
                                    <select class="form-control form-rounded" id="provinceAdd" name="province" required autofocus="autofocus">
                                        <option>-SELECT-</option>
                                        <option th:each="row:${province}"
                                                th:text="${row.provinceName}">
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close
                                </button>
                                <button type="submit" class="btn bg-gradient-cyan btn-flat">
                                    <i class="fa fa-save"></i> Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--end add modal-->


            <!--edit modal-->
            <div class="modal fade" id="editButton" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-md">
                    <form th:action="@{/update-markets}" method="put">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Update Market</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="idEdit" class="col-form-label">Id:</label>
                                    <input type="text" class="form-control form-rounded" id="idEdit" name="id" required="required" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="marketNameEdit" class="col-form-label">Market Name:</label>
                                    <input type="text" class="form-control form-rounded" id="marketNameEdit" name="marketName" required autofocus="autofocus">
                                </div>

                                <div class="form-group">
                                    <label for="marketAboutEdit" class="col-form-label">Market About:</label>
                                    <textarea class="form-control" id="marketAboutEdit" name="marketAbout" required autofocus="autofocus"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="cityEdit" class="col-form-label">City:</label>
                                    <select class="form-control form-rounded" id="cityEdit" name="city" required autofocus="autofocus">
                                        <option>-SELECT-</option>
                                        <option th:each="row:${city}"
                                                th:text="${row.cityName}">
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="provinceEdit" class="col-form-label">Province:</label>
                                    <select class="form-control form-rounded" id="provinceEdit" name="province" required autofocus="autofocus">
                                        <option>-SELECT-</option>
                                        <option th:each="row:${province}"
                                                th:text="${row.provinceName}">
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close
                                </button>
                                <button type="submit" class="btn bg-gradient-success btn-flat">
                                    <i class="fa fa-pencil-alt"></i> Update
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--end edit modal-->


        </section>
        <!--end of main content-->

    </div>
    <!-- end content wrapper -->

    <!--footer-->
    <include th:replace="views/backend/components/footer :: footer"></include>

</div>
<include th:replace="views/backend/components/scripts :: scripts"></include>


<!--delete modal-->
<script>
    /** Delete Modal **/
    $('document').ready(function () {

        /** Delete Modal **/
        $('.table #deleteButton').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $('#deleteModal #delRef').attr('href', href);
            $('#deleteModal').modal();
        });

    });
</script>


<!--edit modal-->
<script>
    $('document').ready(function () {

        $('.table .btn-outline-success').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $.get(href, function (market) {
                $('#idEdit').val(market.id);
                $('#marketNameEdit').val(market.marketName);
                $('#marketAboutEdit').val(market.marketAbout);
                $('#cityEdit').val(market.city);
                $('#provinceEdit').val(market.province);

            });
            $('#editModal').modal();
        });
    });
</script>


<!--POP UP MESSAGES-->
<script th:inline="javascript">
    window.onload = function () {

        var msg = [[${message}]];
        if (msg == "Save Success") {
            Command: toastr["success"]("User created successfully!!")
        } else if (msg == "Delete Success") {
            Command: toastr["success"]("Deleted Successfully!!")
        } else if (msg == "Delete Error") {
            Command: toastr["error"]("Some error occurred, couldn't delete user")
        } else if (msg == "Edit Success") {
            Command: toastr["success"]("User updated successfully!!")
        }

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    }
</script>

</body>
</html>