<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
    <include th:replace="views/backend/components/metas :: metas"></include>
    <include th:replace="views/backend/components/styles :: styles"></include>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css}">
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js}"></script>

    <style type="text/css">
        table tr td {
            padding: 0.5rem !important;
        }
        table tr td p{
            margin-top: -0.2rem !important;
            margin-bottom: -0.2rem !important;
            font-size: 0.9rem;
        }
        td a.btn{
            font-size: 0.7rem;
        }
        input.form-control{
            border:none !important;
        }
    </style>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- navbar -->
    <include th:replace="views/backend/components/navbar :: navbar"></include>
    <!-- sidebar -->
    <include th:replace="views/backend/city/components/sidebar :: sidebar"></include>

    <!-- content wrapper -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6 animated bounceInRight">
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">City</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content Header (Page header) -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card card-outline card-primary">

                    <div class="card-header">
                        <h5><i class="fa fa-plus"></i> City Information</h5>
                    </div>

                    <form action="#" th:action="@{/create-city}" th:object="${city}" enctype="multipart/form-data" method="post">
                        <div class="card-body">

                            <!-- message -->
<!--                            <div th:if="${message != null}" class="card-footer text-info alert alert-default-info">-->
<!--                                <span th:text="${message}"></span>-->
<!--                            </div>-->

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-form-label">City Name:</label>
                                                <input type="text" th:field="*{cityName}" th:errorclass="is-invalid" class="form-control elevation-1" placeholder="City Name" required/>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-form-label">Province Name:</label>
                                                <input type="text" th:field="*{provinceName}" th:errorclass="is-invalid" class="form-control elevation-1" placeholder="Province Name" required/>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">

                            <button type="submit" class="btn bg-gradient-primary">
                                <i class="fa fa-save"></i> Add
                            </button>

                            <a href="/city" class="btn btn-outline-danger">
                                <i class="fa fa-times"></i> Close
                            </a>
                        </div>
                    </form>

                </div>
            </div>
        </section>
        <!-- end Main content -->


    </div>
    <!-- end content wrapper -->


</div>
<include th:replace="views/backend/components/scripts :: scripts"></include>

<!--POP UP MESSAGES-->
<script th:inline="javascript">
    window.onload = function () {

        var msg = [[${message}]];
        if (msg == "Save Success") {
            Command: toastr["success"]("User created successfully!!")
        } else if (msg == "Delete Success") {
            Command: toastr["success"]("User deleted successfully!!")
        } else if (msg == "Delete Error") {
            Command: toastr["error"]("Some error occurred, couldn't delete user")
        } else if (msg == "Edit Success") {
            Command: toastr["success"]("User updated successfully!!")
        }

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    }
</script>

</body>
</html>